*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

a:focus {
	outline: none !important;
}


/* ==================
		Menu
   ==================*/
   

div.menu-tab {
    position: fixed;
    width: 100px;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: #505B71;
    z-index: 100;
}

.toggle_mnu {
    display: block;
    margin: 20px auto;
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 101;
    border: none;
    background-color: #3C4355;
}

.toggle_mnu span {
    display: block;
}

.sandwich {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 8px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 200;
}

.sw-topper {
  position: relative;
  top: 0;
  width: 28px;
  height: 3px;
  background: #249CAC;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
  -webkit-transition: -webkit-transform 0.5s, top 0.2s;
          -moz-transition: -moz-transform 0.5s, top 0.2s;
            -o-transition: -o-transform 0.5s, top 0.2s;
       transition: transform 0.5s, top 0.2s;
  display: block; }

svg path {
  fill: #e0e0e0; }

.sw-bottom {
  position: relative;
  width: 28px;
  height: 3px;
  top: 6.6px;
  background: #249CAC;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
  -webkit-transition: -webkit-transform 0.5s, top 0.2s;
          -moz-transition: -moz-transform 0.5s, top 0.2s;
            -o-transition: -o-transform 0.5s, top 0.2s;
       transition: transform 0.5s, top 0.2s;
  -webkit-transition-delay: 0.2s, 0s;
          -moz-transition-delay: 0.2s, 0s;
            -o-transition-delay: 0.2s, 0s;
       transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 28px;
  height: 3px;
  top: 13.5px;
  background: #249CAC;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
  -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
       transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
          -moz-transition-delay: 0.1s;
            -o-transition-delay: 0.1s;
       transition-delay: 0.1s; }

div.menu-tab.active .sandwich .sw-topper {
  top: 9px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
       transform: rotate(-45deg); }
div.menu-tab.active .sandwich .sw-bottom {
  top: 6px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
       transform: rotate(45deg); }
div.menu-tab.active .sandwich .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
       transform: rotate(180deg); }



div.menu {
    position: fixed;
    left: 100px;
    top: 0px;
    height: 100vh;
    background-color: #fff;
    z-index: 100;
    width: 0px;
    overflow: hidden;
    -webkit-transition: all .4s ease-out;
       -moz-transition: all .4s ease-out;
         -o-transition: all .4s ease-out;
            transition: all .4s ease-out;
    
}

div.menu-tab.active div.menu {
    width: 250px;
}

div.menu-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

label.menu-avatar {
    display: block;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 20px 50px 30px;
    position: relative;
    background-image: url(../images/avatar.jpg);
    background-position: center;
    -o-background-size: cover;
       background-size: cover;
    cursor: pointer;
}

label.menu-avatar:hover div.menu-avat-edit {
    display: block;
}

div.menu-avat-edit { 
    top:0px;
    left: 0px;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    position: absolute;
    background-color: rgba(60, 67, 85, 0.7);
    display: none;
}

h3.user-name {
    display: block;
    width: 250px;
    text-align: center;
    color: #249CAC;
    font-family: 'RobotoRegular';
    font-size: 18px;
    font-weight: 600;
}

ul.ul-menu {
    display: block;
    width: 100%;
    margin-top: 30px;
}

ul.ul-menu a {
    width: 100%;
}

ul.ul-menu a:hover li {
    border-right: 5px solid #2574AB;
}

ul.ul-menu li {
    padding-left: 40px;
    height: 42px;
    width: 100%;
    line-height: 40px;
    text-align: left;
    display: block;
    color: #506084;
    overflow: hidden;
    border-bottom: 1px solid rgba(234, 236, 240, 0.85);
}

ul.ul-menu li.active {
    color: #249CAC;
    background-image: -webkit-gradient(linear, left top, right top, from(#259DAB), to(#2574AB));
    background-image: -webkit-linear-gradient(left, #259DAB 0%, #2574AB 100%);
    background-image: -moz-linear-gradient(left, #259DAB 0%, #2574AB 100%);
    background-image: -o-linear-gradient(left, #259DAB 0%, #2574AB 100%);
    background-image: linear-gradient(to right, #259DAB 0%, #2574AB 100%);
    background-repeat: repeat-x;
    color: #fff;
    border-bottom: 0px;
}

button.quit {
    display: block;
    width: 210px;
    height: 40px;
    position: absolute;
    bottom: 50px;
    left: 20px;
    border: none;
    background-color: #D9534F;
    color: #fff;
    -webkit-transition: all 0.2s ease-out 0s;
       -moz-transition: all 0.2s ease-out 0s;
         -o-transition: all 0.2s ease-out 0s;
            transition: all 0.2s ease-out 0s;
    -webkit-border-radius: 2px;
            border-radius: 2px;
}

button.quit:hover {
    background-color: #D43F3A;
}


/* ==================
		Main section
   ==================*/


div.main {
    margin-left: 100px;
    width: -webkit-calc(100% - 100px);
    width: -moz-calc(100% - 100px);
    width: calc(100% - 100px);
    overflow-x: hidden;
    background-color: #D8DDE3;
    height: 100vh;
    -webkit-transition: all .4s ease-out;
       -moz-transition: all .4s ease-out;
         -o-transition: all .4s ease-out;
            transition: all .4s ease-out;
}

div.main.active {
    margin-left: 350px;
}

nav.top-nav {
    width: 100%;
    height: 64px;
    background-color: #3C4355;
}

section {
    margin: 20px;
    background-color: #fff;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    padding: 20px;
}

section > p {
    line-height: 22px;
}

section.caption-section > p {
	text-align: center;
}

section.blocked-user-section {
	background-color: #D9534F;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

section.blocked-user-section > p {
	font-family: "RobotoBold";
}

h1.section-name {
    text-align: center;
    margin: 10px auto 10px;
    color: #3C4355;
    font-size: 24px;
    text-transform: uppercase;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}


/* ==================
		Profile
   ==================*/
   

table, th, td {
  border: none; }

table {
  width: 100%;
  display: table; }
  table.bordered > thead > tr, table.bordered > tbody > tr {
    border-bottom: 1px solid #d0d0d0; }
  table.striped > tbody > tr:nth-child(odd) {
    background-color: #f2f2f2; }
  table.striped > tbody > tr > td {
    -webkit-border-radius: 0px;
            border-radius: 0px; }
  table.hoverable > tbody > tr {
    -webkit-transition: background-color .25s ease;
    -moz-transition: background-color .25s ease;
    -o-transition: background-color .25s ease;
    transition: background-color .25s ease; }
    table.hoverable > tbody > tr:hover {
      background-color: #f2f2f2; }
  table.centered thead tr th, table.centered tbody tr td {
    text-align: center; }

thead {
  border-bottom: 1px solid #d0d0d0; }

td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  -webkit-border-radius: 2px;
          border-radius: 2px; }


table.profile-statistics tbody tr td:first-child, table.profile-statistics thead tr th:first-child {
    width: 62%;
}


/* ==================
		Settings
   ==================*/
   

h3.setting-name, h3.ticket-text {
    padding: 15px 5px;
    text-indent: 20px;
    font-family: 'RobotoMedium';
    color: #2580AB;
}

h3.ticket-text {
    padding: 5px;
}

h3.setting-name span {
    font-family: 'RobotoRegular' !important;
    color: #333 !important;
	padding-bottom: 4px;
	margin-left: 5px;

	border-bottom: 1px dotted #3C4355;
}

h3.setting-name span.actived-span {
	border-bottom: 0px !important;
}

h3.setting-name input {
    background: #fff;
    border: 2px solid rgba(153, 153, 153, 0.25);
    -webkit-box-shadow: none;
            box-shadow: none;
	padding: 4px;
	height: 34px;
	width: 210px;
}

h3.ticket-text input {
    background: #fff;
    border: 2px solid rgba(153, 153, 153, 0.25);
    -webkit-box-shadow: none;
            box-shadow: none;
	padding: 4px 6px;
	height: 34px;
    width: 98%;
    margin: 10px;
    font-family: 'RobotoRegular' !important;
    color: #333 !important;
}

h3.ticket-text textarea {
    background: #fff;
    border: 2px solid rgba(153, 153, 153, 0.25);
    -webkit-box-shadow: none;
            box-shadow: none;
	padding: 4px 6px;
	height: 34px;
    width: 98%;
    min-width: 98%;
    max-width: 98%;
    height: 200px;
    min-height: 180px;
    max-height: 320px;
    margin: 10px;
    font-family: 'RobotoRegular' !important;
    color: #333 !important;
    line-height: 22px;
}

div.errors {
	width: 30%;
	margin-top: 20px;
	margin-left: 10px;
	color: #D43F3A;
}

a.payeer-link {
	color: rgb(124, 131, 144);
}

a.payeer-link:hover {
	text-decoration: underline;
}

button.delete-account, button.send-ticket {
    display: block;
    width: 210px;
    height: 40px;
    border: none;
    margin: 20px auto 10px;
    background-color: #D9534F;
    color: #fff;
    -webkit-transition: all 0.2s ease-out 0s;
       -moz-transition: all 0.2s ease-out 0s;
         -o-transition: all 0.2s ease-out 0s;
            transition: all 0.2s ease-out 0s;
    -webkit-border-radius: 2px;
            border-radius: 2px;
}

button.send-ticket {
    background-color: #9ccc65;
}

button.send-ticket:hover {
    background-color: #8bc34a;
}

button.delete-account:hover {
    background-color: #D43F3A;
}


/* ==================
		Modal window
   ==================*/


div.modal-background {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
	z-index: 1000;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
       -moz-transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
         -o-transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
            transition: opacity 0.3s ease 0s, visibility 0s ease 0.3s;
}

div.modal-background.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s ease 0s, visibility 0s ease 0s;
       -moz-transition: opacity 0.3s ease 0s, visibility 0s ease 0s;
         -o-transition: opacity 0.3s ease 0s, visibility 0s ease 0s;
            transition: opacity 0.3s ease 0s, visibility 0s ease 0s;
}

div.modal-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 10em auto;
    background: #FFF none repeat scroll 0% 0%;
    -webkit-border-radius: 0.25em 0.25em 0.4em 0.4em;
            border-radius: 0.25em 0.25em 0.4em 0.4em;
    text-align: center;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
       -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
         -o-transform: translateY(-40px);
            transform: translateY(-40px);
    -webkit-transition-property: -webkit-transform;
       -moz-transition-property: -moz-transform;
         -o-transition-property: -o-transform;
            transition-property: transform;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
}

.is-visible .modal-container {
    -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
         -o-transform: translateY(0px);
            transform: translateY(0px);
}

div.modal-container p {
    color: #8F9CB5;
    padding: 3em 1em;
    line-height: 22px;
}

ul.modal-buttons {
	list-style-type: none;
	height: 60px;
}

ul.modal-buttons li {
    float: left;
    width: 50%;
}

.ticket-modal-container ul.modal-buttons li {
    width: 100% !important;
}
.modal-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition: background-color 0.2s ease 0s;
       -moz-transition: background-color 0.2s ease 0s;
         -o-transition: background-color 0.2s ease 0s;
            transition: background-color 0.2s ease 0s;
}

.modal-buttons li:first-child a {
    background: #FC7169 none repeat scroll 0% 0%;
    -webkit-border-radius: 0px 0px 0px 0.25em;
            border-radius: 0px 0px 0px 0.25em;
}

.modal-buttons li:first-child a:hover {
    background-color: #FC8982;
}

.modal-buttons li:last-child a {
    background: #B6BECE none repeat scroll 0% 0%;
    -webkit-border-radius: 0px 0px 0.25em;
            border-radius: 0px 0px 0.25em;
}

.ticket-modal-container ul.modal-buttons li a {
    -webkit-border-radius: 0px 0px 0.25em 0.25em !important;
            border-radius: 0px 0px 0.25em 0.25em !important;
}

.ticket-modal-container ul.modal-buttons li a {
    background: #aed581 none repeat scroll 0% 0% !important;
}

.ticket-modal-container ul.modal-buttons li a:hover {
    background-color: #c5e1a5 !important;
}

.modal-buttons li:last-child a:hover {
    background-color: #C5CCD8;
}

div.modal-container .modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
    text-decoration: none;
}

.modal-close::before, .modal-close::after {
    content: "";
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8F9CB5;
}

.modal-close::before {
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    left: 8px;
}

.modal-close::after {
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    right: 8px;
}


.bad-wrapper textarea{
    width: 350px;
    height: 150px;
    margin: 0 auto;
}

.add{
    margin: 0 auto;
    margin-top: 5px;
    display: block;
    width: 210px;
    height: 40px;
    left: 20px;
    border: none;
    background-color: #D9534F;
    color: #fff;
    -webkit-transition: all 0.2s ease-out 0s;
       -moz-transition: all 0.2s ease-out 0s;
         -o-transition: all 0.2s ease-out 0s;
            transition: all 0.2s ease-out 0s;
    -webkit-border-radius: 2px;
            border-radius: 2px;
}

.add:hover {
    background-color: #D43F3A;
}
.bad input {
    width: 350px;
    margin-bottom: 5px;
}

.bad {
    text-align: center;
}

.error {
    text-align: center;
    color: red;
    margin-bottom: 5px;
}